.full {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#container {
	background-color:aliceblue;
	border-radius: 10px;
	padding: 30px;
	width: 50%;
	height: fit-content;
	min-width: 200px;
	max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


hr {
	width: 50%;
    border: none;
    border-top: 2px solid #ccc;
    margin: 20px 0;
}

#userError {
	color: red;
}
.or {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    position: relative;
    color: #666;
}

.or::before,
.or::after {
    content: "";
    display: block;
    width: 44%;
    height: 1px;
    background-color: #000000;
    position: absolute;
}

.or::before {
    left: 0%;
}

.or::after {
    right: 0%;
}

label {
	width: 100%;
	display: block;
	text-align: left;
	margin-top: 16px;
	margin-bottom: 5px;
}

input {
	border-radius: 10px;
	margin: auto;
	padding: 10px;
	width: 100%;
}

h1 {
	color: #3584c9;
}


h2 {
	padding: 0%;
	margin: 0%;
	color: #3584c9;
	font-weight: bold;
}

button {
	background-color: #1f91ea;
	color: white;
	padding: 10px;
	border-radius: 10px;
	margin-top: 16px;
	border: none;
	cursor: pointer;
}

body {
	background-color: #38a3e7;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	overflow: hidden;
}

input, button {
    width: 100%;
    box-sizing: border-box;
}

* {
	font-family: 'Arial', sans-serif;
}

footer {
	position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100%;
    text-align: left;
}

footer>a {
	color: white;
	text-decoration: none;
	border: none;
	font-weight: bold;
}